
<nav>
    <h1>V88 Merchandise</h1>
    <ul>
        <li class="nav-item"><a href=<%- user.isAdmin == 1 ? "/adminDashboard" : "/dashboard" %> >Dashboard</a></li>
        <li class="nav-item"><a href="/profile">Profile</a></li>
        <li class="account-area-logout"><a href="/user/logoff">Log Off</a></li>
    </ul>
</nav>